<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.kovstas.alfred.sidecar</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E798F34-13D0-404E-A5F7-0B08486DA86D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5749AC31-EEFD-41C1-A8A1-FD264595CB7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5EC4C2B-C1AA-4935-AF52-D914564B514E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E798F34-13D0-404E-A5F7-0B08486DA86D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5749AC31-EEFD-41C1-A8A1-FD264595CB7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5EC4C2B-C1AA-4935-AF52-D914564B514E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A624865-E2B1-4AA1-B37F-79DF9493B313</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4827C34-7E2D-4895-825F-FFE6236AEE73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stanislav Kovalenko</string>
	<key>description</key>
	<string>Helps you quickly connect your iPad as a second screen</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sidecar Connect</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Sidecar Connected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A624865-E2B1-4AA1-B37F-79DF9493B313</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Connect to Sidecar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sleep 3
system_profiler SPDisplaysDataType | grep -i "Sidecar" -A 10</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5749AC31-EEFD-41C1-A8A1-FD264595CB7B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>do shell script "open -b com.apple.systempreferences /System/Library/PreferencePanes/Displays.prefPane"

set device to (system attribute "Device_Name")

tell application "System Events"

          repeat until (exists window "Displays" of application process "System Settings")

                    delay 0.1

          end repeat

          tell process "System Settings"

                    tell pop up button 1 of group 1 of group 2 of splitter group 1 of group 1 of window "Displays"

                              click

                              delay 0.1
							
                              tell (last menu item of menu 1 whose name contains device)

                                        click it

                             end tell

                    end tell

          end tell

end tell

tell application "System Settings" to quit</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E798F34-13D0-404E-A5F7-0B08486DA86D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>sidecar</string>
						<key>outputlabel</key>
						<string>Connected</string>
						<key>uid</key>
						<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Disconnected</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D5EC4C2B-C1AA-4935-AF52-D914564B514E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Sidecar Disconnected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A4827C34-7E2D-4895-825F-FFE6236AEE73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use sc to toggle sidecar</string>
	<key>uidata</key>
	<dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>5749AC31-EEFD-41C1-A8A1-FD264595CB7B</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>6A624865-E2B1-4AA1-B37F-79DF9493B313</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>8E798F34-13D0-404E-A5F7-0B08486DA86D</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>A4827C34-7E2D-4895-825F-FFE6236AEE73</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>D5EC4C2B-C1AA-4935-AF52-D914564B514E</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>iPad</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Full or part name of your device to connect</string>
			<key>label</key>
			<string>Device Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>Device_Name</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/kovstas/alfred-sidecar</string>
</dict>
</plist>
